
body {
	margin: 0;
	font-family: 'arial';
}

p, blockquote {
	font-size: .9em;
	line-height: 1.6em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	text-align: left;
}

header {
	display: flex;
	justify-content: space-between;
}

.menu {
	width: 100;
	padding: 1.7em 1em;
	background: rgb(49, 55, 59);
}

.menu:hover {
	background-color: rgb(30, 30, 30);
}

.show-desktop {
	width: 100%;
	background: rgb(40, 41, 44);
}

nav ul {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

nav ul li a {
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1.5em 1em;
	background-color: rgb(49, 55, 59);
}
nav ul li a:hover {
	background-color: rgb(30, 30, 30);
}

@media only screen {
	nav ul {
		display: flex;
	}

}