@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


body { /* This one is inhereted by all */
	margin: 0em;
	background: white;
	font-family: 'Montserrat';
}


p, blockquote {
	font-size: 1em;
	line-height: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	text-align: left;
	padding-left: .4em;
}

.hide-mobile {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
}

.menu {
	width: 25px;
	margin-top: 30%;
}

nav ul {
	position: fixed;
	width: 60%;
	top: 0;
	left: 0;
	text-align: left;
	background: rgb(36, 41, 44);
	height: 100%;
	z-index: 5;
	padding-top: 2em;
	padding-left: .5em;
}


nav ul li a{
	color: white;
	text-decoration: none;
	display: block;
	width: inherit;
	padding: 1em 3em;
	background-color: rgb(52, 59, 63);
}

nav ul li a:hover{
	background-color: rgb(65, 73, 78);
}

.exit-btn {
	margin-bottom: 1em;
	margin-top: -0.8em;
	margin-left: 1em;
}

.exit-btn img {
	width: 15px;
	cursor: pointer;
}

@media only screen and (min-width: 650px) {
	
	.show-desktop {
		display: block;
		margin: 0 auto 15% auto;
	}
	.hide-desktop{
		display: none;
	}

	nav ul {
		position: inherit;
		width: auto;
		background: none;
		height: auto;
		display: flex;
		padding-top: 0;
	}
	nav ul li {
		float: left;
	}
	nav ul li a{
		
		color: black;
		background-color: inherit;
		text-align: left;
		padding: 1em 0em;
		padding-right: 3em;
		padding-left: 1em;
	}
	nav ul li a:hover {
		background-color: inherit;
	}
}
