@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
	margin: 0;
	padding: 0;
	background: lightgrey;
	font-family: 'Montserrat';
	text-align: left;
}

header {
	left: 0;
	font-size: 1em;
	line-height: 1em;
}

.hide-mobile {
	display: none;
}

.menu {	
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul {
	position: fixed;
	/*background: rgb(36, 41, 44);*/
	text-align: left;
	top: 0;
	left: 0;
	height: 100%;
	width: 40%;
	z-index: 10;
}

nav ul li a{	
}

nav ul li a:hover{	
}

.exit-btn {
	padding: 1.1em;
}

.exit-btn img {
	width: 20px;
	cursor: pointer;
}


@media only screen and (min-width: 650px) {
	.show-desktop {
	}

	.hide-desktop{
	}

	nav	ul {
	}

	nav ul li {

	}

	nav ul li a {	
	}

	.home {
	}
}
