
table,  {
	border-collapse: collapse;
}


th, td {
	padding: .5em;
	text-align: left;
}

td {
	border-bottom: 1px solid black;
}

th {
	border-bottom-style: double;
	background-color: white;
}

.info tr:nth-child(odd) {
    background-color: lightgrey;
}


.whitespace {
    background-color: white;
    height: 1.5em;
}

tfoot tr:nth-child(odd) {
	background-color: lightgrey;
}