<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bestel app</title>         <!--This give the title on top of the tab -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/Basecss - Copy.css')}}">
</head>

<body>
<!-- Header -->
    <header>
        <nav class="header-nav">
            <a href="#" class="hide-desktop">
            <img src="{{url_for('static', filename='images/ham.svg')}}" alt="toggle menu" class="menu" id="menu">
            </a>
            <ul class="show-desktop hide-mobile" id="nav">
                <li id="exit" class="exit-btn hide-desktop"><img src="{{url_for('static', filename='images/exit.svg')}}" alt="exit menu"></li>
                <li><a href="/" class="home">Home</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/wonderland">Wonderland</a></li>
            </ul>
        </nav>
    </header>
<!-- Article -->
    <article>
    {% block titlepage %}
    <!-- Dynamic content -->
    {% endblock %}

    {% block input %}
    <!-- Dynamic content -->
    {% endblock %}

    {% block wonderland %}
    <!-- Dynamic content -->
    {% endblock %}

    {% block result %}
    <!-- Dynamic content -->
    {% endblock %}
    </article>
<!-- Footer -->
    <footer>
        <nav class="footer-nav">
            <ul class="footer-text">
                <li><a href="/">Support</a></li>
                <li><a href="/">Reference</a></li>
            </ul>
        </nav>
    </footer>

</body>

<script type="text/javascript">
            var menu = document.getElementById('menu');
            var nav = document.getElementById('nav');
            var exit = document.getElementById('exit');

            menu.addEventListener('click', function(e) {
                nav.classList.toggle('hide-mobile');
                e.preventDefault();
            });
            exit.addEventListener('click', function(e) {
                nav.classList.add('hide-mobile');
                e.preventDefault();
            });
</script>

</html>