<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Homepagecss.css')}}">
</head>

{% extends 'Base.html' %}

{% block titlepage %}
<h1 class="titlehomepage">Home page</h1>
{% endblock %}

{% block input %}
<form action="/result" method="post">

<table>
    <thead>
        {% block step1 %}{% endblock %}
        <tr>
            <th colspan="2">Huidige voorraad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kannen: </td>
            <td><input type="number" step="0.1" name="vrd_kan" required></td>
        </tr>
        <tr>
            <td>Pakken: </td>
            <td><input type="number" step="0.1" name="vrd_pak" required></td>
        </tr>
    </tbody>
</table>

<table> 
    <thead>
        <tr>
            <th colspan="2">Bestelde voorraad</th>
        </tr>
    </thead>
    <tbody>
        {% block step2 %}{% endblock %}
        <tr>
            <td>Kannen: </td>
            <td><input type="number" name="best_kan" required></td>
        </tr>
        <tr>
            <td>Pakken: </td>
            <td><input type="number" name="best_pak" required></td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        {% block step3 %}{% endblock %}
        <tr>
            <th colspan="2">Gemiddelde verkoop kannen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vandaag: </td>
            <td><input type="number" name="gem_ver_kan_va" required></td>
        </tr>
        <tr>
            <td>Morgen: </td>
            <td><input type="number" name="gem_ver_kan_mo" required></td>
        </tr>
            <td>EAN: </td>
            <td>67649</td>
        </tr>  
    </tbody>
</table>

<table>
    <thead>
         {% block step4 %}{% endblock %}
        <tr>
            <th colspan="2">Gemiddelde verkoop pakken</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vandaag: </td>
            <td><input type="number" name="gem_ver_pak_va" required></td>
        </tr>
        <tr>
            <td>Morgen: </td>
            <td><input type="number" name="gem_ver_pak_mo" required></td>
        </tr>
        </tr>
            <td>EAN: </td>
            <td>498518</td>
        </tr>
    </tbody>
</table>

{% block ending %}{% endblock %}
<input type="submit" value="submit" class="sbmt-btn" />
</form>
{% endblock %}