<!DOCTYPE html>
{% include "Index.html" %}
<html>
<body>
    <div class="container">
        <h1>Home Page</h1>
        <section>
            <form action="/result" method="post">
                <p>Voorraad kannen: &emsp; <input type="number" name="kan"/></p>
                <p>Voorraad pakken: &emsp; <input type="number" name="pak"/></p>
                <p>Besteld kannen: &emsp; <input type="number" name="bestkan"/></p>
                <p>Besteld pakken: &emsp; <input type="number" name="bestpak"/></p>
                <p>Gemiddelde verkoop kannen: &emsp; <input type="number" name="gemverkan"/></p>
                <p>Gemiddelde verkoop pakken: &emsp; <input type="number" name="gemverpak"/></p>
                <input type="submit" value="submit"/>
            </form>
        </section>
    </div>  
</body>
</html>