<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doc</title>         <!--This give the title on top of the tab -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container">
        <img src="./images/hm.jpg" alt="test1" class="logo">
        <nav>
            <a href="#" class="hide-desktop">
                <img src="./images/hm.jpg" alt="test2" class="logo">
            </a>

            <ul class="show-desktop hide-desktop" id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Under production</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>