<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Wonderlandcss.css')}}">
</head>
{% extends "Base.html" %}


{% block titlepage %}
<h1>BOOGIE WONDERLAND</h1>
{% endblock %}

{% block wonderland %}
<p>Dance, Boogie Wonderland, hey, hey</p>
<p>Dance, Boogie Wonderland</p>
<p>Midnight creeps so slowly into hearts of men</p>
<p>Who need more than they get</p>
<p>Daylight deals a bad hand to a woman</p>
<p>Who has laid too many bets</p>
<p>The mirror stares you in the face and says</p>
<p>"Baby, uh, uh, it don't work"</p>
<p>You say your prayers though you don't care</p>
<p>You dance and shake the hat</p>
<p>Dance, Boogie Wonderland, hey, hey</p>
<p>Dance, Boogie Wonderland</p>
<p>Sound fly through the night</p>
<p>I chase my vinyl dreams to Boogie Wonderland</p>
<p>I find romance when I start to dance in Boogie Wonderland</p>
<p>I find romance when I start to dance in Boogie Wonderland</p>
<p>All the love in the world can't be gone</p>
<p>All the need to be loved can't be wrong</p>
<p>All the records are playing and my heart keeps saying</p>
<p>"Boogie Wonderland, Wonderland"</p>
<p>Dance, Boogie Wonderland, hey, hey</p>
<p>Dance, Boogie Wonderland, hey, hey</p>
<p>I find romance when I start to dance in Boogie Wonderland</p>
<p>I find romance when I start to dance in Boogie Wonderland</p>
<p>Dance, dance (Boogie Wonderland), dance, dance</p>
<p>Dance, dance (Boogie Wonderland), dance, dance</p>
<p>Wonderland</p>
<p>Wonderland</p>
<p>All the love in the world can't be gone (love in the world can't be gone)</p>
<p>All the need to be loved can't be wrong (need to be loved can't be wrong)</p>
<p>All the records are playing and my heart keeps saying</p>
<p>Boogie Wonderland, Wonderland</p>
<p>Dance, Boogie Wonderland, hey, hey</p>
<p>Dance, Boogie Wonderland, hey, hey</p>
<p>I find romance when I start to dance in Boogie Wonderland</p>
<p>I find romance when I start to dance in Boogie Wonderland</p>
<p>Dance, dance, dance (Boogie Wonderland), dance, dance, dance, dance</p>
<p>Dance, dance (Boogie Wonderland), dance  </p>
{% endblock %}
